<!DOCTYPE html>
<html>
    <body>
        <center>
            <h1> Classification for a Customer</h1>

            <form method="POST",  action="{{url_for('predict')}}">
                <label for="ID">Customer ID:</label><br>
                <input type="number" id="ID" name="ID"><br>

                <label for="Gender">Gender:</label><br>
                <select id="Gender" name="Gender" required>
                    <option>Female</option>
                    <option>Male</option>
                </select>
                <br>
                <label for="ID">Age:</label><br>
                <input type="number" id="Age" name="Age" required><br>

                <label for="Income">Annual Income (k$):</label><br>
                <input type="number" id="Income" name="Income" required><br>

                <label for="Spending">Spending Score (1-100):</label><br>
                <input type="number" id="Spending_score" name="Spending_score" min="0" max="100" required><br>

                <input type="submit" value="Submit"><br>
            </form>

            <br>
            <br>
            {% if inputs %}
            <p>For the customer with {{inputs}}, the cluster group is {{prediction}}</p>
            {% endif %}
        </center>
    </body>
</html>